@font-face {
	font-family:'SouthPark';
	src:url('../fonts/south_park.ttf')
}

body {
	margin: 0 auto;
	padding: 0;
	background-image: url('../images/BackgroundMain2.png');
}

.game {
	position: relative;
	width: 960px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

/* -------- PLAYZONE DEFENCE--------- */

.playZone {
	display: flex;
	background-image: url("../images/Plan de travail 1.png");
	margin-top: 50px;
	border: 2px black solid;
}

.safeZone {
	width: 96px;
	height: 400px;
}
.defense {
	width: 200px;
	height: 400px;
	position:relative;
	display: flex;
}

.seller1, .seller2 {
	margin: 10px;
	background-color: white;
	opacity: 0.9;
	width: 300px;
	padding:10px
}

.wall, .heros {
	width: 100px;
	height: 400px;
}
.spot {
	width: 60px;
	height: 60px;
	margin: 20px 10px 40px 10px;
}

/* id for js function */
#tower {
	width: 60px;
	height: 60px;
}
#tower2 {
	width: 60px;
	height: 60px;
}

#heros{
	width:60px;
	height:60px;
	margin-left:30px;
	position:absolute;
}

#shoot{
	width:20px;
	height:20px;
	position:absolute;
	left:90px;
}

/* ----------PLAYZONE ATTACK------- */

.street {
	width: 660px;
	height: 400px;
	display: flex;
	position: relative;
}
.range {
	width: 220px;
	height: 400px;
}
#mob {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 660px;
}
#mobLife {
	background: red;
	height: 5px;
	width: 100%;
	border-radius: 2px;
}


/* ---------MENU INFORMATIONS--------- */
.menuInfo{
	width:300px;
	background-color: white;
	padding: 10px;
	margin: 10px;
}
.money > p {
	width: 30px;
	height:30px;
	padding-top: 6px;
	margin-left:40px;
}

/*	Menu for sellers, information and upgrades*/
.menu {
	display: flex;
	justify-content: center;
	width:960px;
	height:100%;
}

.money{
	width:30px;
	height:30px;
	background-image: url('../images/money.png');
	background-size: cover;
	margin-left: 100px;
	margin-top: 60px;
}

.price{
	font-family: 'SouthPark';
	text-align: center;
	margin-top: 15px;
}
p{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

/* ----------BUTTONS----- */
/*disign button buy*/
.button{
	border:none;
	padding:6px 6px 6px 6px;
	border-radius:4px;
	box-shadow:1px 1px 3px #aaa;
	background:#f38b1b;
	font:bold 13px Arial;
	color:black;
	font-family:'SouthPark';
	outline: none;
}

.upgrade{
	text-align: center;
}

/*Disign button upgrade*/
.buttonUpgrade{
	border:none;
	padding:6px 6px 6px 6px;
	border-radius:4px;
	box-shadow:1px 1px 3px #aaa;
	background:#5cb118;
	font:bold 13px Arial;
	color:black;
	font-family:'SouthPark';
	outline: none;
}

/*Button hovers*/
.button:hover{
	cursor: pointer;
}
.buttonUpgrade:hover{
	cursor: pointer;
}

/* ------------RETRY GAME------- */
.retry {
	padding: 30px;
	background: #e74c3c ;
	color: white;
	position: absolute;
	font-size: 25px;
	font-family: 'SouthPark';
	text-transform: uppercase;
	left: 40%;
	top: 20%;
	text-align: center;
}

#nextLevel {
	position: fixed;
	top: 28%;
	left: 45%;
	border:none;
	padding:6px 6px 6px 6px;
	border-radius:4px;
	box-shadow:1px 1px 3px #aaa;
	background:#f38b1b;
	font:bold 13px Arial;
	color:black;
	font-family:'SouthPark';
	outline: none;
}

.dispbest {
	padding: 20px;
	position: absolute;
	left: 37%;
	top: 40%;
	text-align: center;
	background: #2980b9;
	font-family: 'SouthPark';
}

/* ----------ANIMATIONS------- */

/*Animations classList*/
/* asian client class */
.mob1{
	animation-name: animationMob1;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}

/* women client class */
.mob2{
	animation-name: animationMob2;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

/* samsoul client class */
.mob3{
	animation-name: animationMob3;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

/* boss class */
.boss{
	animation-name: animationBoss;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
}
.animationHeros{
	animation-name: animationHeros;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
}

/*Animation sellers*/
.animationSeller1{
	animation-name: animationSeller1;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

.animationSeller2{
	animation-name: animationSeller2;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}

/*Animation heros shoot*/

.animationShoot{
	animation-name: animationShoot;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}

/*animation: keyframes*/

/* keyframes for hero playable */
@keyframes animationHeros{
	0% {background: url('../images/SteveJobs1.png');background-size: contain;	background-repeat: no-repeat;}
	17% {background: url('../images/SteveJobs2.png');background-size: contain;	background-repeat: no-repeat;}
	34% {background: url('../images/SteveJobs3.png');background-size: contain;	background-repeat: no-repeat;}
	51% {background: url('../images/SteveJobs4.png');background-size: contain;	background-repeat: no-repeat;}
	68% {background: url('../images/SteveJobs3.png');background-size: contain;	background-repeat: no-repeat;}
	85% {background: url('../images/SteveJobs2.png');background-size: contain;	background-repeat: no-repeat;}
	100% {background: url('../images/SteveJobs1.png');background-size: contain;	background-repeat: no-repeat;}
}

/* keyframe for tower1 */
@keyframes animationSeller1{
	0% {background: url('../images/VendeurTower1.png');background-size: contain;	background-repeat: no-repeat;}
	17% {background: url('../images/VendeurTower2.png');background-size: contain;	background-repeat: no-repeat;}
	34% {background: url('../images/VendeurTower3.png');background-size: contain;	background-repeat: no-repeat;}
	51% {background: url('../images/VendeurTower4.png');background-size: contain;	background-repeat: no-repeat;}
	68% {background: url('../images/VendeurTower3.png');background-size: contain;	background-repeat: no-repeat;}
	85% {background: url('../images/VendeurTower2.png');background-size: contain;	background-repeat: no-repeat;}
	100% {background: url('../images/VendeurTower1.png');background-size: contain;	background-repeat: no-repeat;}
}

/* keyframes for tower2 */
@keyframes animationSeller2{
	0% {background: url('../images/Vendeur1.png');background-size: contain;	background-repeat: no-repeat;}
	17% {background: url('../images/Vendeur2.png');background-size: contain;	background-repeat: no-repeat;}
	34% {background: url('../images/Vendeur3.png');background-size: contain;	background-repeat: no-repeat;}
	51% {background: url('../images/Vendeur4.png');background-size: contain;	background-repeat: no-repeat;}
	68% {background: url('../images/Vendeur3.png');background-size: contain;	background-repeat: no-repeat;}
	85% {background: url('../images/Vendeur2.png');background-size: contain;	background-repeat: no-repeat;}
	100% {background: url('../images/Vendeur1.png');background-size: contain;	background-repeat: no-repeat;}

}

/* keyframe for playable character shot  */
@keyframes animationShoot{
	0% {background: url('../images/Iphone 1.png');background-size: contain;	background-repeat: no-repeat;}
	7% {background: url('../images/Iphone 2.png');background-size: contain;	background-repeat: no-repeat;}
	14% {background: url('../images/Iphone 3.png');background-size: contain;	background-repeat: no-repeat;}
  21% {background: url('../images/Iphone 4.png');background-size: contain;	background-repeat: no-repeat;}
	28% {background: url('../images/Iphone 5.png');background-size: contain;	background-repeat: no-repeat;}
	35% {background: url('../images/Iphone 6.png');background-size: contain;	background-repeat: no-repeat;}
	42% {background: url('../images/Iphone 8.png');background-size: contain;	background-repeat: no-repeat;}
	49% {background: url('../images/Iphone 9.png');background-size: contain;	background-repeat: no-repeat;}
	56% {background: url('../images/Iphone 10.png');background-size: contain;	background-repeat: no-repeat;}
	63% {background: url('../images/Iphone 11.png');background-size: contain;	background-repeat: no-repeat;}
	70% {background: url('../images/Iphone 12.png');background-size: contain;	background-repeat: no-repeat;}
	77% {background: url('../images/Iphone 14.png');background-size: contain;	background-repeat: no-repeat;}
	84% {background: url('../images/Iphone 15.png');background-size: contain;	background-repeat: no-repeat;}
	91% {background: url('../images/Iphone 16.png');background-size: contain;	background-repeat: no-repeat;}
	100% {background: url('../images/Iphone 17.png');background-size: contain;	background-repeat: no-repeat;}
}

/* keyframes for asian client (enemie) */
@keyframes animationMob1{
	0% {background: url('../images/ClientAsiatique1.png');background-size: contain;	background-repeat: no-repeat;}
	10% {background: url('../images/ClientAsiatique2.png');background-size: contain;	background-repeat: no-repeat;}
	20% {background: url('../images/ClientAsiatique3.png');background-size: contain;	background-repeat: no-repeat;}
	30% {background: url('../images/ClientAsiatique4.png');background-size: contain;	background-repeat: no-repeat;}
	40% {background: url('../images/ClientAsiatique5.png');background-size: contain;	background-repeat: no-repeat;}
	50% {background: url('../images/ClientAsiatique6.png');background-size: contain;	background-repeat: no-repeat;}
	60% {background: url('../images/ClientAsiatique5.png');background-size: contain;	background-repeat: no-repeat;}
	70% {background: url('../images/ClientAsiatique4.png');background-size: contain;	background-repeat: no-repeat;}
	80% {background: url('../images/ClientAsiatique3.png');background-size: contain;	background-repeat: no-repeat;}
	90% {background: url('../images/ClientAsiatique2.png');background-size: contain;	background-repeat: no-repeat;}
	100% {background: url('../images/ClientAsiatique1.png');background-size: contain;	background-repeat: no-repeat;}
}

/* keyframes for women client (enemie) */
@keyframes animationMob2{
	0% {background: url('../images/Cliente2.png');background-size: contain;	background-repeat: no-repeat;}
	50% {background: url('../images/Cliente3.png');background-size: contain;	background-repeat: no-repeat;}
	100% {background: url('../images/Cliente2.png');background-size: contain;	background-repeat: no-repeat;}
}

/* keyframes for samsoul client (enemie) */
@keyframes animationMob3{
	0% {background: url('../images/ClientSamsoul1.png');background-size: contain;	background-repeat: no-repeat;}
	33% {background: url('../images/ClientSamsoul2.png');background-size: contain;	background-repeat: no-repeat;}
	66% {background: url('../images/ClientSamsoul3.png');background-size: contain;	background-repeat: no-repeat;}
	100% {background: url('../images/ClientSamsoul1.png');background-size: contain;	background-repeat: no-repeat;}
}

/* keyframes for aniamtion boss vague 5 or more */
@keyframes animationBoss{
	0% {background: url('../images/BossDéplacement 1.png');background-size: contain;	background-repeat: no-repeat;}
	8% {background: url('../images/BossDéplacement 1.1.png');background-size: contain;	background-repeat: no-repeat;}
	16% {background: url('../images/BossDéplacement 2.png');background-size: contain;	background-repeat: no-repeat;}
	24% {background: url('../images/BossDéplacement 2.2.png');background-size: contain;	background-repeat: no-repeat;}
	32% {background: url('../images/BossDéplacement 3.png');background-size: contain;	background-repeat: no-repeat;}
	40% {background: url('../images/BossDéplacement 4.png');background-size: contain;	background-repeat: no-repeat;}
	49% {background: url('../images/BossDéplacement 5.png');background-size: contain;	background-repeat: no-repeat;}
	57% {background: url('../images/BossDéplacement 4.png');background-size: contain;	background-repeat: no-repeat;}
	66% {background: url('../images/BossDéplacement 3.png');background-size: contain;	background-repeat: no-repeat;}
	73% {background: url('../images/BossDéplacement 2.2.png');background-size: contain;	background-repeat: no-repeat;}
	82% {background: url('../images/BossDéplacement 2.png');background-size: contain;	background-repeat: no-repeat;}
	91% {background: url('../images/BossDéplacement 1.1.png');background-size: contain;	background-repeat: no-repeat;}
	100% {background: url('../images/BossDéplacement 1.png');background-size: contain;	background-repeat: no-repeat;}
}
