@font-face {
	font-family:'SouthPark';
	src:url('../fonts/south_park.ttf')
}

body {
	margin: 0 auto;
	padding: 0;
}
.main{
	background-image: url('../images/BackgroundMain.png');
	background-size: cover;
}
.game {
	position: relative;
	width: 960px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}
.safeZone {
	width: 100px;
	height: 400px;
}
.defense {
	width: 200px;
	height: 400px;
	position:relative;
}
.playZone {
	display: flex;
	background-image: url("../images/Plan de travail 1.png");
	margin-top: 50px;
}
.street {
	width: 660px;
	height: 400px;
	display: flex;
	position: relative;
}
.range {
	width: 220px;
	height: 400px;
	border-left: 1px solid black;
}
#mob {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 660px;
}
#mobLife {
	background: red;
	height: 5px;
	width: 100%;
	border-radius: 2px;
}
.menu {
	display: flex;
	text-align: center;
}
.seller1, .seller2 {
	margin: 10px;
}
#nextLevel {
	position: fixed;
	top: 28%;
	left: 45%;
	border:none;
	padding:6px 6px 6px 6px;
	border-radius:4px;
	box-shadow:1px 1px 3px #aaa;
	background:#f38b1b;
	font:bold 13px Arial;
	color:black;
	font-family:'SouthPark';
}
.defense {
	display: flex;
}
.wall, .heros {
	width: 100px;
	height: 400px;
}
.spot {
	width: 60px;
	height: 60px;
	margin: 20px 10px 40px 10px;
}
#tower {
	width: 60px;
	height: 60px;
}
#tower2 {
	width: 60px;
	height: 60px;
}


#heros{
	margin-top: 20px;
	width:60px;
	height:60px;
	margin-left:30px;
	position:absolute;
}

#shoot{
	width:20px;
	height:20px;
	position:absolute;
	left:90px;
}


/*disign button buy*/
.button{
	border:none;
	padding:6px 6px 6px 6px;
	border-radius:4px;
	box-shadow:1px 1px 3px #aaa;
	background:#f38b1b;
	font:bold 13px Arial;
	color:black;
	font-family:'SouthPark';
}

/*Disign button upgrade*/
.buttonUpgrade{
	border:none;
	padding:6px 6px 6px 6px;
	border-radius:4px;
	box-shadow:1px 1px 3px #aaa;
	background:#5cb118;
	font:bold 13px Arial;
	color:black;
	font-family:'SouthPark';
}

.retry {
	padding: 30px;
	background: #e74c3c ;
	color: white;
	position: absolute;
	font-size: 25px;
	font-family: 'SouthPark';
	text-transform: uppercase;
	left: 40%;
	top: 20%;
	text-align: center;
}

.dispbest {
	padding: 20px;
	position: absolute;
	left: 37%;
	top: 40%;
	text-align: center;
	background: #2980b9;
	font-family: 'SouthPark';
}
/*Animations classList*/
.mob1{
	animation-name: animationMob1;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}

.mob2{
	animation-name: animationMob2;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}


.mob3{
	animation-name: animationMob3;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

.boss{
	background-image: url('../imagesC/lientSamsoul.pngg');
	background-size: contain;
	background-repeat: no-repeat;
}
.animationHeros{
	animation-name: animationHeros;
	animation-duration: 0.9s;
	animation-iteration-count: infinite;
}

/*Animation sellers*/
.animationSeller1{
	animation-name: animationSeller1;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

.animationSeller2{
	animation-name: animationSeller2;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}

/*Animation heros shoot*/

.animationShoot{
	animation-name: animationShoot;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}

/*animation: keyframes*/

@keyframes animationHeros{
	0% {background: url('../images/SteveJobs1.png');background-size: contain;	background-repeat: no-repeat;}
	17% {background: url('../images/SteveJobs2.png');background-size: contain;	background-repeat: no-repeat;}
	34% {background: url('../images/SteveJobs3.png');background-size: contain;	background-repeat: no-repeat;}
	51% {background: url('../images/SteveJobs4.png');background-size: contain;	background-repeat: no-repeat;}
	68% {background: url('../images/SteveJobs3.png');background-size: contain;	background-repeat: no-repeat;}
	85% {background: url('../images/SteveJobs2.png');background-size: contain;	background-repeat: no-repeat;}
	100% {background: url('../images/SteveJobs1.png');background-size: contain;	background-repeat: no-repeat;}
}


@keyframes animationSeller1{
	0% {background: url('../images/VendeurTower1.png');background-size: contain;	background-repeat: no-repeat;}
	17% {background: url('../images/VendeurTower2.png');background-size: contain;	background-repeat: no-repeat;}
	34% {background: url('../images/VendeurTower3.png');background-size: contain;	background-repeat: no-repeat;}
	51% {background: url('../images/VendeurTower4.png');background-size: contain;	background-repeat: no-repeat;}
	68% {background: url('../images/VendeurTower3.png');background-size: contain;	background-repeat: no-repeat;}
	85% {background: url('../images/VendeurTower2.png');background-size: contain;	background-repeat: no-repeat;}
	100% {background: url('../images/VendeurTower1.png');background-size: contain;	background-repeat: no-repeat;}
}

@keyframes animationSeller2{
	0% {background: url('../images/Vendeur1.png');background-size: contain;	background-repeat: no-repeat;}
	17% {background: url('../images/Vendeur2.png');background-size: contain;	background-repeat: no-repeat;}
	34% {background: url('../images/Vendeur3.png');background-size: contain;	background-repeat: no-repeat;}
	51% {background: url('../images/Vendeur4.png');background-size: contain;	background-repeat: no-repeat;}
	68% {background: url('../images/Vendeur3.png');background-size: contain;	background-repeat: no-repeat;}
	85% {background: url('../images/Vendeur2.png');background-size: contain;	background-repeat: no-repeat;}
	100% {background: url('../images/Vendeur1.png');background-size: contain;	background-repeat: no-repeat;}

}


@keyframes animationShoot{
	0% {background: url('../images/Iphone 1.png');background-size: contain;	background-repeat: no-repeat;}
	7% {background: url('../images/Iphone 2.png');background-size: contain;	background-repeat: no-repeat;}
	14% {background: url('../images/Iphone 3.png');background-size: contain;	background-repeat: no-repeat;}
  21% {background: url('../images/Iphone 4.png');background-size: contain;	background-repeat: no-repeat;}
	28% {background: url('../images/Iphone 5.png');background-size: contain;	background-repeat: no-repeat;}
	35% {background: url('../images/Iphone 6.png');background-size: contain;	background-repeat: no-repeat;}
	42% {background: url('../images/Iphone 8.png');background-size: contain;	background-repeat: no-repeat;}
	49% {background: url('../images/Iphone 9.png');background-size: contain;	background-repeat: no-repeat;}
	56% {background: url('../images/Iphone 10.png');background-size: contain;	background-repeat: no-repeat;}
	63% {background: url('../images/Iphone 11.png');background-size: contain;	background-repeat: no-repeat;}
	70% {background: url('../images/Iphone 12.png');background-size: contain;	background-repeat: no-repeat;}
	77% {background: url('../images/Iphone 14.png');background-size: contain;	background-repeat: no-repeat;}
	84% {background: url('../images/Iphone 15.png');background-size: contain;	background-repeat: no-repeat;}
	91% {background: url('../images/Iphone 16.png');background-size: contain;	background-repeat: no-repeat;}
	100% {background: url('../images/Iphone 17.png');background-size: contain;	background-repeat: no-repeat;}
}

@keyframes animationMob1{
	0% {background: url('../images/ClientAsiatique1.png');background-size: contain;	background-repeat: no-repeat;}
	10% {background: url('../images/ClientAsiatique2.png');background-size: contain;	background-repeat: no-repeat;}
	20% {background: url('../images/ClientAsiatique3.png');background-size: contain;	background-repeat: no-repeat;}
	30% {background: url('../images/ClientAsiatique4.png');background-size: contain;	background-repeat: no-repeat;}
	40% {background: url('../images/ClientAsiatique5.png');background-size: contain;	background-repeat: no-repeat;}
	50% {background: url('../images/ClientAsiatique6.png');background-size: contain;	background-repeat: no-repeat;}
	60% {background: url('../images/ClientAsiatique5.png');background-size: contain;	background-repeat: no-repeat;}
	70% {background: url('../images/ClientAsiatique4.png');background-size: contain;	background-repeat: no-repeat;}
	80% {background: url('../images/ClientAsiatique3.png');background-size: contain;	background-repeat: no-repeat;}
	90% {background: url('../images/ClientAsiatique2.png');background-size: contain;	background-repeat: no-repeat;}
	100% {background: url('../images/ClientAsiatique1.png');background-size: contain;	background-repeat: no-repeat;}
}


@keyframes animationMob2{
	0% {background: url('../images/Cliente2.png');background-size: contain;	background-repeat: no-repeat;}
	50% {background: url('../images/Cliente3.png');background-size: contain;	background-repeat: no-repeat;}
	100% {background: url('../images/Cliente2.png');background-size: contain;	background-repeat: no-repeat;}
}


@keyframes animationMob3{
	0% {background: url('../images/ClientSamsoul1.png');background-size: contain;	background-repeat: no-repeat;}
	33% {background: url('../images/ClientSamsoul2.png');background-size: contain;	background-repeat: no-repeat;}
	66% {background: url('../images/ClientSamsoul3.png');background-size: contain;	background-repeat: no-repeat;}
	100% {background: url('../images/ClientSamsoul1.png');background-size: contain;	background-repeat: no-repeat;}
}


@keyframes animationBoss{
	0% {background: url('../images/BossDéplacement 1.png');background-size: contain;	background-repeat: no-repeat;}
	8% {background: url('../images/BossDéplacement 1.1.png');background-size: contain;	background-repeat: no-repeat;}
	16% {background: url('../images/BossDéplacement 2.png');background-size: contain;	background-repeat: no-repeat;}
	24% {background: url('../images/BossDéplacement 2.2.png');background-size: contain;	background-repeat: no-repeat;}
	32% {background: url('../images/BossDéplacement 3.png');background-size: contain;	background-repeat: no-repeat;}
	40% {background: url('../images/BossDéplacement 4.png');background-size: contain;	background-repeat: no-repeat;}
	49% {background: url('../images/BossDéplacement 5.png');background-size: contain;	background-repeat: no-repeat;}
	57% {background: url('../images/BossDéplacement 4.png');background-size: contain;	background-repeat: no-repeat;}
	66% {background: url('../images/BossDéplacement 3.png');background-size: contain;	background-repeat: no-repeat;}
	73% {background: url('../images/BossDéplacement 2.2.png');background-size: contain;	background-repeat: no-repeat;}
	82% {background: url('../images/BossDéplacement 2.png');background-size: contain;	background-repeat: no-repeat;}
	91% {background: url('../images/BossDéplacement 1.1.png');background-size: contain;	background-repeat: no-repeat;}
	100% {background: url('../images/BossDéplacement 1.png');background-size: contain;	background-repeat: no-repeat;}
}
